body{
    width: auto;
    height: auto;
    margin: 0; 
    padding: 0; 
    background-color: #F9F3F3; 
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    color: #66242D;
}

/* NavBarre */

.navBarre{
    color: #BF0921; 
    display: flex;
    justify-content: center;
}

.listeContainer{
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    display:flex; 
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    width: 60%;
}

.linkContainer{
    /* border: 2px solid violet;  */
    display:flex; 
    justify-content: space-around;
    width: 15%;
}

.linkContainer li{
    font-size: 1.5em;
    /* border: 2px solid green; */
}

.divNumber{
    /* border: 2px solid blue;  */
    display: flex; 
    align-items: center;
    margin-left: 2vw;
}

.divNumber p{
    margin: 0;
    font-size: 0.875em;
    margin-left: 0.2vw;
}

.divImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title */

.titleContainer {
    /* border: 2px solid blue;  */
    display: flex; 
    justify-content: center;
    height: 60Vh; 
}

.titleContainer h1{
    /* border: 2px solid red; */
    color: #C78283; 
    font-size: 25em;
    margin: 0; 
}

/* Numéro de page */

.pageNumber{
    /* border: 2px solid green; */
    display: flex; 
    justify-content: flex-end;
    margin: 0;
}

.pageNumber h2{
    /* border: 2px solid turquoise;  */
    color: #C78283; 
    opacity: 0.10;
    font-size: 25em;
    font-weight: 700;
    margin: 0; 
    padding: 0;
    line-height: 1.1em;
}

.sentenceContainer{
    /* border: 2px solid royalblue;  */
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sentence{
    /* border: 2px solid fuchsia;  */
    width: 60%;

}

.sentence h3{
    font-size: 4em;
}

.myName {
    color: #FFFFFF; 
    text-shadow: #66242d 1px 1px, #66242d -1px 1px, #66242d -1px -1px, #66242d 1px -1px;

}

.scrollContainer{
    /* border: 2px solid palegreen;  */
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scrollContainer p {
    /* border: 2px solid gray;  */
    font-size: 1.25em;
    margin: 1vw;
}

.scrollContainer img{
    /* border: 2px solid cornflowerblue;  */
}