body{
    width: auto;
    height: auto;
    margin: 0; 
    padding: 0; 
    background-color: #F9F3F3; 
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
}

/* NavBarre */

.navBarre{
    color: #BF0921; 
    display: flex;
    justify-content: center;
}

.listeContainer{
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    display:flex; 
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    width: 60%;
}

.linkContainer{
    /* border: 2px solid violet;  */
    display:flex; 
    justify-content: space-around;
    width: 15%;
}

.linkContainer li{
    font-size: 1.5em;
    /* border: 2px solid green; */
}

.divNumber{
    /* border: 2px solid blue;  */
    display: flex; 
    align-items: center;
    margin-left: 2vw;
}

.divNumber p{
    margin: 0;
    font-size: 0.875em;
    margin-left: 0.2vw;
}

.divImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title */

.titleContainer {
    /* border: 2px solid blue;  */
    display: flex; 
    justify-content: center;
}

.titleContainer h1{
    /* border: 2px solid red; */
    color: #C78283; 
    font-size: 25em;
    margin: 0; 
}