.scrollContainer{
    /* border: 2px solid palegreen;  */
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scrollContainer p {
    /* border: 2px solid gray;  */
    font-size: 1.25em;
    margin: 1vw;
}

.scrollContainer img{
    /* border: 2px solid cornflowerblue;  */
}