/* Sentence */

.sentenceContainer{
    /* border: 2px solid royalblue;  */
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sentence{
    /* border: 2px solid fuchsia;  */
    width: 60%;

}

.sentence h3{
    font-size: 4em;
}

.myName {
    color: #FFFFFF; 
    text-shadow: #66242d 1px 1px, #66242d -1px 1px, #66242d -1px -1px, #66242d 1px -1px;

}